<div class="row">
    <div class="col-12">
        <h1 class="px-4" mat-dialog-title>Are you sure want to delete?</h1>

        <div class="row justify-content-center pb-4 ">
            <div class="col-auto">
                <div mat-dialog-actions>
                    <button mat-button mat-dialog-close class="btn btn-danger py-2 px-3 " (click)="yesClick()" style="font-size: large;">Yes</button>
                </div>
    
            </div>
            <div class="col-auto">
                <div mat-dialog-actions>
                    <button mat-button mat-dialog-close class="btn btn-primary py-2 px-3" (click)="noClick()" style="font-size: large;">No</button>
                </div>
            </div>
        </div>
    </div>
</div>
