<!-- <div id="wrapper" class="wrapper bg-ash">
    <app-navbar></app-navbar> -->
     <!-- Page Area Start Here -->
    <!-- <div class="dashboard-page-one">
       <app-parent-sidebar></app-parent-sidebar>
        <div class="dashboard-content-one">
            <router-outlet></router-outlet>
            <app-footer></app-footer>
        </div>
    </div>
</div>
 -->

<div id="wrapper" class="wrapper bg-ash">
    <app-navbar></app-navbar> 
    <div class="dashboard-page-one" style="height: fit-content;">
        <app-parent-sidebar></app-parent-sidebar>
        <div class="dashboard-content-one" style="height: fit-content;">
            <router-outlet></router-outlet>
            <!-- <app-fee-details></app-fee-details> -->
            <app-footer></app-footer>
        </div>
    </div>
</div>
