<body>
    <div class="container d-flex justify-content-center align-items-center vh-100" 
    style="margin-top: 14%;margin-bottom: 10.2%;">
       <div class="bg-white text-center p-5 mt-3 center">
          <h3>Forgot Password </h3>
          <h5>Enter 6 digit verification code sent to your email</h5>
          <div *ngIf="checkOtp" class="row d-flex justify-content-center mt-3 alert alert-danger" style="font-size: large;">
            You have Entered Wrong Otp !!
          </div>
          <!-- <div *ngIf="resendError" class="row d-flex justify-content-center mt-3 alert alert-danger" style="font-size: large;">
           New OTP is sent to your EmailId !!
          </div> -->
          <form #validateOtp="ngForm" class="pb-3" (ngSubmit)="verifySentOtp(validateOtp.value)">
             <div class="form-group">
                <input type="text" class="form-control" name="otp" placeholder="Enter OTP" ngModel #otp="ngModel" 
                required >
                <div *ngIf="otp.invalid && otp.touched" class="alert alert-danger mt-3" role="alert">
                  <div *ngIf="otp.errors.required">
                     OTP is Required !!
                  </div>
                </div> 
             </div>
             
               <a [routerLink]="['/sms/home/login/forgot-password/otp']" role="button" (click)="resendOTP()" style="font-size: large;color:#0000EE; ">Resend OTP</a>
               <span *ngIf="showTimer" class="mb-2" style="float: right;">{{timeleft}}</span>
            
             <button [disabled]="validateOtp.invalid" type="submit" class="btn">Submit</button>
          </form>
          
       </div>
    </div>
 </body>