<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head> -->
<body>
     
    <!--Preloader area start here-->
    <!-- <div id="loader" class="loader yellow-color">
        <div class="loader-container">
            <div class='loader-icon'>
                <img src="assets/images/dplog.png" alt="">
            </div>
        </div>
    </div> -->
    <!--Preloader area End here--> 

    <!-- Main content Start -->
    <div class="main-content">
        <!--Full width header Start-->
        <div class="full-width-header home8-style4 home9">
            <!--Header Start-->
            <header id="rs-header" class="rs-header">
                <!-- Menu Start -->
                <!-- Topbar Area Start -->
                
                <!-- Topbar Area End -->
                
                <div class="menu-area menu-sticky">
                    <div class="container">
                        <div class="row y-middle">
                            <div class="col-lg-1 text-center">
                                <div class="logo-cat-wrap">
                                    <div class="logo-part text-center">
                                        <a href="index.html">
                                            <img class="normal-logo" src="assets/images/dplog.png" alt="">
                                            <img class="sticky-logo" src="assets/images/dplog.png" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 text-left" style="font-size: 3vw;font-family: sans-serif;color: #1c335f;">
                                <span class="name">D.P. High School</span>
                            </div>
                            <div class="col-lg-5 text-right">
                              <div class="rs-menu-area">
                                  <div class="main-menu">
                                      <div class="mobile-menu">
                                          <a class="rs-menu-toggle">
                                              <i class="fa fa-bars" style="color:#1C335F;"></i>
                                          </a>
                                      </div>
                                      <nav class="rs-menu">
                                         <ul class="nav-menu">
                                          <li class="menu-item-has-children current-menu-item">
                                              <a [routerLink]="['signUp']">Register</a>
                                              
                                          </li>

                                             <li class="menu-item-has-children">
                                                 <a [routerLink]="['login']">LogIn</a>
                                                 
                                             </li>

                                             
                                         </ul> <!-- //.nav-menu -->
                                      </nav>                                        
                                  </div> <!-- //.main-menu -->
                                
                              </div>
                            </div>
                            
                            <!-- <div class="col-lg-2 text-right"> -->
                                <!-- <div class="expand-btn-inner">
                                    
                                    <a id="nav-expander" class="nav-expander style6">
                                        <div class="bar">
                                            <span class="dot1"></span>
                                            <span class="dot2"></span>
                                            <span class="dot3"></span>
                                        </div>
                                    </a>
                                </div> -->
                            <!-- </div> -->
                        </div>
                    </div>
                </div>
                <!-- Menu End --> 

                <!-- Canvas Menu start -->
            <nav class="right_menu_togle hidden-md">
                <div class="close-btn">
                    <span id="nav-close">
                        <div class="line">
                            <span class="line1"></span><span class="line2"></span>
                        </div>
                    </span>
                </div>
                <div class="canvas-logo">
                    <a href="index.html"><img src="assets/images/logo-yellow2.png" alt="logo"></a>
                </div>
                <div class="offcanvas-text">
                    <p>We denounce with righteous indige nationality and dislike men who are so beguiled and demo  by the charms of pleasure of the moment data com so blinded by desire.</p>
                </div>
                <div class="offcanvas-gallery">
                    <div class="gallery-img">
                        <a class="image-popup" href="assets/images/gallery/1.jpg"><img src="assets/images/gallery/1.jpg" alt=""></a>
                    </div>
                    <div class="gallery-img">
                        <a class="image-popup" href="assets/images/gallery/2.jpg"><img src="assets/images/gallery/2.jpg" alt=""></a>
                    </div>
                    <div class="gallery-img">
                        <a class="image-popup" href="assets/images/gallery/3.jpg"><img src="assets/images/gallery/3.jpg" alt=""></a>
                    </div>
                    <div class="gallery-img">
                        <a class="image-popup" href="assets/images/gallery/4.jpg"><img src="assets/images/gallery/4.jpg" alt=""></a>
                    </div>
                    <div class="gallery-img">
                        <a class="image-popup" href="assets/images/gallery/5.jpg"><img src="assets/images/gallery/5.jpg" alt=""></a>
                    </div>
                    <div class="gallery-img">
                        <a class="image-popup" href="assets/images/gallery/6.jpg"><img src="assets/images/gallery/6.jpg" alt=""></a>
                    </div>
                </div>
                <div class="map-img">
                    <img src="assets/images/map.jpg" alt="">
                </div>
                <div class="canvas-contact">
                    <ul class="social">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </nav>
            <!-- Canvas Menu end -->
            </header>
            <!--Header End-->
        </div>
        <!--Full width header End-->

        <!-- Banner Section Start -->
        <div id="rs-banner" class="rs-banner style8">
            <div class="container">
                <div class="banner-content text-center">
                    <h2 class="sl-title wow fadeInRight" data-wow-delay="600ms" data-wow-duration="2000ms">Making Students Globally Compititive.</h2>
                     <div class="sl-sub-title wow bounceInLeft" data-wow-delay="300ms" data-wow-duration="3000ms">2021 - 2022</div>
                     
                     <div class="sl-btn wow fadeInUp text-center" data-wow-delay="900ms" data-wow-duration="2000ms">
                         <a class="readon yellow-btn " [routerLink]="['admission-detail']" style="color: white;">Details</a>
                         <a class="readon yellow-btn ml-3" [routerLink]="['inquiry']" style="color: white;">Inquiry</a>
                     </div>

                </div>
            </div>
        </div>
        <!-- Banner Section End -->

        <!-- Features Section start -->
        <div id="rs-features" class="rs-features style2">
            <div class="container">
               <div class="row">
                    <div class="col-lg-3 mt-3 col-md-6 md-mb-30">
                        <div class="rs-iconbox-area">
                            <!-- <div class="icon-area">
                               <img src="assets/images/features/style2/1.png" alt="">
                            </div> -->
                            <div class="text-area">
                               <h3 class="icon-title">High Quality value Based Education</h3>
                            </div>
                        </div>
                    </div>  
                    <div class="col-lg-3 mt-3 col-md-6 md-mb-30">
                        <div class="rs-iconbox-area">
                            <!-- <div class="icon-area">
                               <img src="assets/images/features/style2/2.png" alt="">
                            </div> -->
                            <div class="text-area">
                               <h3 class="icon-title">Nursery-Higher Secondary Education</h3>
                            </div>
                        </div>
                    </div>  
                    <div class="col-lg-3 mt-3 col-md-6 sm-mb-30">
                        <div class="rs-iconbox-area">
                            <!-- <div class="icon-area">
                               <img src="assets/images/features/style2/3.png" alt="">
                            </div> -->
                            <div class="text-area">
                               <h3 class="icon-title">Both English And Gujarati Medium Teaching</h3>
                            </div>
                        </div>
                    </div>  
                    <div class="col-lg-3 mt-3 col-md-6">
                        <div class="rs-iconbox-area">
                            <!-- <div class="icon-area">
                               <img src="assets/images/features/style2/4.png" alt="">
                            </div> -->
                            <div class="text-area">
                               <h3 class="icon-title">1st Ranked School In Year 2014-15 </h3>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
        <!-- Features Section End -->


        <!-- About Section Start -->
        
        <!-- About Section End -->

        <!-- Categories Section Start -->
        <!-- Best Students -->
        <div id="rs-categories" class="rs-categories home9-style event-bg pt-100 mt-4 pb-50 md-pt-70 md-pb-70">

            <div class="container">
                <div class="sec-title3 mt-3 text-center mb-45">
                    <!-- <div class="sub-title yellow-color">Choose Your Path</div> -->
                    <h2 class="title black-color">Best Students of the Year 2020-2021</h2>
                </div>
                <div class="row">
                    <div class="col-lg-4 mt-3 md-mb-40">
                        <div class="categories-items">
                            <div class="images-part">
                                <a href="#"><img src="{{bestStudent1.image}}" width="500px" alt=""></a>
                            </div>
                            <div class="image-content">
                               
                               <div class="title text-center">
                                   <a href="#">{{bestStudent1.medium}} Medium</a>
                               </div>
                               <div class="description">
                                    <span>Standard: {{bestStudent1.standardName}}</span><br>
                                    <span>Name: {{bestStudent1.name}}</span><br>
                                    <span>Div: {{bestStudent1.divisionName}}</span><br>
                               </div>
                               <!--  <div class="button-bottom">
                                    <div class="button-effect">
                                        <a href="#">Join Program</a>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>  
                    <div class="col-lg-4 mt-3 md-mb-40">
                        <div class="categories-items">
                            <div class="images-part">
                                <a href="#"><img src="{{bestStudent2.image}}" width="500px" alt=""></a>
                            </div>
                            <div class="image-content">
                            
                                <div class="title text-center">
                                    <a href="#">{{bestStudent2.medium}} Medium</a>
                               </div>
                               <div class="description">
                                    <span>Standard: {{bestStudent2.standardName}}</span><br>
                                    <span>Name: {{bestStudent2.name}}</span><br>
                                    <span>Div: {{bestStudent2.divisionName}}</span><br>
                               </div>
                                <!-- <div class="button-bottom">
                                    <div class="button-effect">
                                        <a href="#">Join Program</a>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>  
                    <div class="col-lg-4 mt-3 md-mb-40">
                        <div class="categories-items">
                            <div class="images-part">
                                <a href="#"><img src="{{bestStudent3.image}}" width="500px" alt=""></a>
                            </div>
                            <div class="image-content">
                            
                               <div class="title text-center">
                                <a href="#">{{bestStudent2.medium}} Medium</a>
                               </div>
                               <div class="description">
                                    <span>Standard: {{bestStudent3.standardName}}</span><br>
                                    <span>Name: {{bestStudent3.name}}</span><br>
                                    <span>Div: {{bestStudent3.divisionName}}</span><br>
                               </div>
                                <!-- <div class="button-bottom">
                                    <div class="button-effect">
                                        <a href="#">Join Program</a>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <div>
                </div>
            </div>
        </div>

        
        <!-- button -->
        <!-- <div class="sl-btn wow fadeInUp mt-5 text-center" data-wow-delay="100ms" data-wow-duration="2000ms">
                <a class="readon orange-btn main-home" href="beststudent.html">All Best Students of the year</a>
         </div> -->
    </div>
    

        <!-- Carosole start Activities of school -->
    <div id="rs-categories" class="rs-categories home9-style event-bg mt-4 pt-10 pb-50 md-pt-70 md-pb-70">
        <div class="container">
                <div class="sec-title3 text-center mb-45">
                    <!-- <div class="sub-title yellow-color">Choose Your Path</div> -->
                    <h2 class="title black-color"style="margin-top:10px;">Activities of School</h2>
                </div>
                  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                      <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                      </ol>
                      <div class="carousel-inner">
                        <div class="carousel-item active">
                          <img class="d-block w-100" src="{{Activity1.imagePath}}" alt="First slide">
                        </div>
                        <div class="carousel-item">
                          <img class="d-block w-100" src="{{Activity2.imagePath}}" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                          <img class="d-block w-100" src="{{Activity3.imagePath}}" alt="Third slide">
                        </div>
                        <div class="carousel-item">
                          <img class="d-block w-100" src="{{Activity4.imagePath}}" alt="fourth slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="{{Activity5.imagePath}}" alt="fourth slide">
                          </div>
                        <!-- <div class="carousel-item">
                          <img class="d-block w-100" src="assets/images/act1.jpg" alt="Fifth slide">
                        </div> -->
                      </div>
                      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                      </a>
                      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                      </a>
                    </div>
                </div>
                <!-- <div class="sl-btn wow fadeInUp mt-5 text-center" data-wow-delay="100ms" data-wow-duration="2000ms">
                        <a class="readon orange-btn main-home" href="activity.html">View All Activites</a>
                </div> --> 
     </div>     
     <!-- button -->
                         
    <!-- Carosole end Activities of school -->

        <!-- Testimonial Section Start -->
      
        <!-- Testimonial Section End -->
        <!-- Categories Section Start School Achievements -->
        <div id="rs-categories" class="rs-categories main-home pt-10 pb-10 md-pt-60 md-pb-40 mt-4">
            <div class="container">
                <div class="sec-title3 text-center mb-45">
                    <h2 class="title black-color">School Achievements</h2>
                </div>
                <div class="row mb-35">
                    <div class="col-lg-4 col-md-6 mb-30">
                        <div class="categories-items mt-3">
                            <div class="cate-images">
                                <img src="{{Achievement1.imagePath}}" alt="" style="height: 200px;width: 395px;">
                            </div>
                            <div class="contents">
                                <div class="img-part">
                                   <!--  <img src="assets/images/categories/main-home/icon/1.png" alt=""> -->
                                </div>
                                <div class="content-wrap">
                                    <!-- <h2 class="title"><a href="#">General Education</a></h2> -->
                                    <span class="course-qnty">{{Achievement1.imageDiscription}}</span>
                                </div>
                            </div>
                        </div>
                    </div>  
                    <div class="col-lg-4 col-md-6 mb-30 mt-3">
                        <div class="categories-items">
                            <div class="cate-images">
                                <img src="{{Achievement2.imagePath}}" alt="" style="height: 200px;width: 395px;">
                            </div>
                            <div class="contents">
                                <div class="img-part">
                                    <!-- <img src="assets/images/categories/main-home/icon/2.png" alt=""> -->
                                </div>
                                <div class="content-wrap">
                                    <!-- <h2 class="title"><a href="#">Computer Science</a></h2> -->
                                    <span class="course-qnty">{{Achievement2.imageDiscription}}</span>
                                </div>
                            </div>
                        </div>
                    </div>  
                    <div class="col-lg-4 col-md-6 mb-30 mt-3">
                        <div class="categories-items">
                            <div class="cate-images">
                               <img src="{{Achievement3.imagePath}}" alt="" style="height: 200px;width: 395px;">
                            </div>
                            <div class="contents">
                                <div class="img-part">
                                    <!-- <img src="assets/images/categories/main-home/icon/3.png" alt=""> -->
                                </div>
                                <div class="content-wrap">
                                    <!-- <h2 class="title"><a href="#">Civil Engineering</a></h2> -->
                                    <span class="course-qnty">{{Achievement3.imageDiscription}}</span>
                                </div>
                            </div>
                        </div>
                    </div>  
                    <div class="col-lg-4 col-md-6 mb-30 mt-3">
                        <div class="categories-items">
                            <div  class="cate-images">
                             <img src="{{Achievement4.imagePath}}" alt="" style="height: 200px;width: 395px;">
                            </div>
                            <div class="contents">
                                <div class="img-part">
                                    <!-- <img src="assets/images/categories/main-home/icon/4.png" alt=""> -->
                                </div>
                                <div class="content-wrap">
                                    <!-- <h2 class="title"><a href="#">Artificial Intelligence</a></h2> -->
                                    <span class="course-qnty">{{Achievement4.imageDiscription}}</span>
                                </div>
                            </div>
                        </div>
                    </div>  
                    <div class="col-lg-4 col-md-6 mb-30 mt-3">
                        <div class="categories-items">
                            <div class="cate-images">
                                <img src="{{Achievement5.imagePath}}" alt="" style="height: 200px;width: 395px;">
                            </div>
                            <div class="contents">
                                <div class="img-part">
                                    <!-- <img src="assets/images/categories/main-home/icon/5.png" alt=""> -->
                                </div>
                                <div class="content-wrap">
                                    <!-- <h2 class="title"><a href="#">Business Studies</a></h2> -->
                                    <span class="course-qnty">{{Achievement5.imageDiscription}}</span>
                                </div>
                            </div>
                        </div>
                    </div>  
                    <div class="col-lg-4 col-md-6 mb-30 mt-3">
                        <div class="categories-items">
                            <div class="cate-images">
                                <img src="{{Achievement6.imagePath}}" alt="" style="height: 200px;width: 395px;">
                            </div>
                            <div class="contents">
                                <div class="img-part">
                                    <!-- <img src="assets/images/categories/main-home/icon/6.png" alt=""> -->
                                </div>
                                <div class="content-wrap">
                                    <!-- <h2 class="title"><a href="#">Computer Engineering</a></h2> -->
                                        <span class="course-qnty">{{Achievement6.imageDiscription}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="sl-btn wow fadeInUp mt-5 text-center" data-wow-delay="100ms" data-wow-duration="2000ms">
                        <a class="readon orange-btn main-home" href="ach.html">View All Achievements </a>
                </div>  -->
               
            </div>
        </div>
        <!-- Categories Section End School Achievements-->

        <!-- Blog Section Start -->
        <div id="rs-blog" class="rs-blog home9-style event2-bg mt-4 pt-10 pb-30 md-pt-64 md-pb-70">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 lg-pl-0">
                        <div class="sec-title3 mb-50 md-mb-30">
                            <!-- <div class="sub-title yellow-color">Events</div> -->
                            <h2 class="title black-color" style="margin-top:17px;">Latest Events</h2>
                        </div>

                        <div style="height: 300px;" class="events-short-top mt-3 mb-30 wow fadeInUp" data-wow-delay="400ms" data-wow-duration="2000ms">
                            <div class="date-part">
                                <span class="month"></span>
                                <div class="date">1</div>
                            </div>
                            <div class="content-part">
                                <div class="categorie">
                                    <a href="#">Event-1</a>
                                </div>
                                <h3 class="title"><a href="#">{{event1.eventName}}</a></h3>
                                <span class="txt">{{event1.eventDescription}}</span><br>
                                <span class="txt">StartTime: {{event1.eventStarttime}}</span><br>
                                <span class="txt">EndTime:{{event1.eventEndtime}}</span><br>
                            </div>
                        </div>
                        <div style="height: 300px;margin-bottom: 5%" class="events-short-top mt-3 mb-50 wow fadeInUp" data-wow-delay="400ms" data-wow-duration="2000ms">
                            <div class="date-part">
                                <span class="month"></span>
                                <div class="date">2</div>
                            </div>
                            <div class="content-part">
                                <div class="categorie">
                                    <a href="#">Event-2</a>
                                </div>
                                <h3 class="title"><a href="#">{{event2.eventName}}</a></h3>
                                <span class="txt">{{event2.eventDescription}}</span><br>
                                <span class="txt">StartTime: {{event2.eventStarttime}}</span><br>
                                <span class="txt">EndTime:{{event2.eventEndtime}}</span><br>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 lg-pl-0 mt-5">
                        <div class="sec-title3 mb-50 md-mb-30">
                            <!-- <div class="sub-title yellow-color">Events</div> -->
                            <!-- <h2 class="title black-color">Latest Events</h2> -->
                        </div>
                        <div style="height: 300px;" class="events-short-top mt-5 mb-30 wow fadeInUp" data-wow-delay="400ms" data-wow-duration="2000ms">
                            <div class="date-part">
                                <span class="month"></span>
                                <div class="date">3</div>
                            </div>
                            <div class="content-part">
                                <div class="categorie">
                                    <a href="#">Event-3</a>
                                </div>
                                <h3 class="title"><a href="#">{{event3.eventName}}</a></h3>
                                <span class="txt">{{event3.eventDescription}}</span><br>
                                <span class="txt">StartTime: {{event3.eventStarttime}}</span><br>
                                <span class="txt">EndTime:{{event3.eventEndtime}}</span><br>
                            </div>
                        </div>
                        <div style="height: 300px;margin-bottom: 5%;" class="events-short-top mt-3 wow fadeInUp" data-wow-delay="400ms" data-wow-duration="2000ms">
                            <div class="date-part">
                                <span class="month"></span>
                                <div class="date">4</div>
                            </div>
                            <div class="content-part">
                                <div class="categorie">
                                    <a href="#">Event-4</a>
                                </div>
                                <h3 class="title"><a href="#">{{event4.eventName}}</a></h3>
                                <span class="txt">{{event4.eventDescription}}</span><br>
                                <span class="txt">StartTime: {{event4.eventStarttime}}</span><br>
                                <span class="txt">EndTime:{{event4.eventEndtime}}</span><br>
                            </div>
                        </div> 
                        <!-- <div class="events-short-top wow fadeInUp" data-wow-delay="500ms" data-wow-duration="2000ms">
                            <div class="date-part">
                                <span class="month">June</span>
                                <div class="date">20</div>
                            </div>
                            <div class="content-part">
                                    <div class="categorie">
                                    <a href="#">Event</a>
                                </div>
                                <h3 class="title"><a href="#">Annual Function</a></h3>
                                <span class="txt">Annual Function 2020-2021 is going to be held from 21st March to 23rd March at Radheshyam Party Ploat at 4:00 to 6:00 p.m.</span><br>
                            </div>
                        </div>  -->
                    </div>
                </div>
            </div>
        </div>
        <br>
        <!-- Blog Section End -->

        <!-- Newsletter section start -->
        
        <!-- Newsletter section end -->
      
        <!-- Vision and Mission -->
        <div id="rs-categories" class="rs-categories main-home pt-15  mt-5 pb-30 md-pt-60 md-pb-40">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="sec-title3 mb-50 md-mb-30">
                            <!-- <div class="sub-title yellow-color">Events</div> -->
                            <h2 class="title black-color mt-3">Vision And Mission</h2>
                        </div>
                        <div class="row">
                            <div class="col-lg-9">
                                <p>Our vision is to develop well rounded, confident and responsible individuals who aspire to achieve their full potential. We will do this by providing a welcoming, happy, safe, and supportive learning environment in which everyone is equal and all achievements are celebrated.</p><br>
                                <p>Our Mission is to provide high quality education and childcare in a safe, respectful and inclusive environment that builds a foundation for life-long learning.</p>
                            </div>   
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="sec-title3 mb-50 md-mb-30">
                            <!-- <div class="sub-title yellow-color">Events</div> -->
                            <h2 class="title black-color mt-3">Principal's Message</h2>
                        </div>
                        <div class="row">
                            <div class="col-lg-9">
                                <p> A child’s natural curiosity to explore his/her world gives teachers the basis on which to build learning experiences that will provide a solid foundation for the early years of schooling.For parents, it is vital that your child receives an excellent start to schooling in a friendly, caring and family atmosphere.
                               </p>
                               <p>     
                                our motto is -
                                A Caring Community School.  We aim to meet the challenge of specific educational outcome goals for students as well as developing creative, resilient, independent, flexible and socially adept young people.
                               </p>
                               <span>Dr. Jaydev Sonagra Principal</span>     

                             


                               
                            </div>   
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <!-- Main content End -->

    <!-- Footer Start -->
    <footer id="rs-footer" class="rs-footer home9-style">
        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-12 col-sm-12 footer-widget">
                        <h3 class="widget-title">About</h3>
                          <div class="textwidget white-color pr-60 md-pr-15"><p>D.P. High School is a co-educational school,affilliated to Gujarat State Education Board. There are two mediums of instructions (Gujarati and English)</p>
                          </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12 footer-widget md-mb-50">
                        <h3 class="widget-title">Contact Us</h3>
                        <ul class="address-widget">
                            <li>
                                <i class="flaticon-location"></i>
                                <div class="desc">132' Ring Road, New-Wadaj,Ahmedabad-380013</div>
                            </li>
                            <li>
                                <i class="flaticon-call"></i>
                                <div class="desc">
                                   <a href="tel:(+880)155-69569">Landline No: {{Schooldetail.landlineNo}}</a>
                                </div>
                            </li>
                            <li>
                                <i class="flaticon-call"></i>
                                <div class="desc">
                                   <a href="tel:(+880)155-69569">Mobile No: {{Schooldetail.mobileNo}}</a>
                                </div>
                            </li>
                            <li>
                                <i class="flaticon-email"></i>
                                <div class="desc">
                                    <a href="mailto:support@rstheme.com">Email-Id: {{Schooldetail.emailId}}</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12 footer-widget md-mb-50">
                        <h3 class="widget-title">Office Hours</h3>
                         <div class="textwidget white-color pr-60 md-pr-15"><p>Open Time : {{Schooldetail.officeOpenTime}} AM <br><br> Close Time: {{Schooldetail.officeCloseTime}} PM</p>
                          </div>
                                    <!-- button -->
                         
                    </div>
                    <div class="col-lg-1 col-md-12 col-sm-12 footer-widget md-mb-50">
                                    <!-- button -->
                         <div class="sl-btn wow fadeInUp mt-5 text-center" data-wow-delay="100ms" data-wow-duration="2000ms">
                                <a class="readon orange-btn main-home" [routerLink]="['inquiry']">Inquiry</a>
                          </div>
                    </div>
                    <!-- <div class="col-lg-3 col-md-12 col-sm-12 pl-50 md-pl-15 footer-widget md-mb-50"> -->
                        <!-- <h3 class="widget-title">Courses</h3>
                        <ul class="site-map">
                            <li><a href="#">Courses</a></li>
                            <li><a href="#">Course Two</a></li>
                            <li><a href="#">Single Course</a></li>
                            <li><a href="#">Profile</a></li>
                            <li><a href="#">Login/Register</a></li>
                        </ul> -->
                    <!-- </div> -->
                    <!-- <div class="col-lg-3 col-md-12 col-sm-12 footer-widget"> -->
                        <!-- <h3 class="widget-title">Recent Posts</h3>
                        <div class="recent-post mb-20">
                            <div class="post-img">
                                <img src="assets/images/footer/1.jpg" alt="">
                            </div>
                            <div class="post-item">
                                <div class="post-desc">
                                    <a href="#">University while the lovely valley team work</a>
                                </div>
                                <span class="post-date">
                                    <i class="fa fa-calendar"></i>
                                    September 20, 2020
                                </span>
                            </div> -->
                        <!-- </div>  -->
                        <!-- <div class="recent-post mb-20 md-pb-0"> -->
                            <!-- <div class="post-img">
                                <img src="assets/images/footer/2.jpg" alt="">
                            </div>
                            <div class="post-item">
                                <div class="post-desc">
                                    <a href="#">High school program starting soon 2021</a>
                                </div>
                                <span class="post-date">
                                   <i class="fa fa-calendar-check-o"></i>
                                    September 14, 2020
                                </span>
                            </div> -->
                        <!-- </div> -->
                    <!-- </div> -->
                <!-- </div> -->
            </div>
        </div>
    </div>
        <div class="footer-bottom">
            <div class="container">                    
                <div class="row y-middle">
                    <div class="col-lg-4 md-mb-20">
                        
                    </div>
                    <div class="col-lg-5 md-mb-20">
                        <div class="copyright text-center md-text-left">
                            <p>Copyright &copy; 2020 All Rights Reserved. Developed By Mansi Patadiya</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer End -->

    <!-- start scrollUp  -->
    <div id="scrollUp" class="yellow-color">
        <i class="fa fa-angle-up"></i>
    </div>
    <!-- End scrollUp  -->

    <!-- Search Modal Start -->
    <div aria-hidden="true" class="modal fade search-modal" role="dialog" tabindex="-1">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="flaticon-cross"></span>
        </button>
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="search-block clearfix">
                    <form>
                        <div class="form-group">
                            <input class="form-control" placeholder="Search Here..." type="text">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- <script src="src/assets/JS/modernizr-3.6.0.min.js"></script>
    <script src="src/assets/JS/jquery-3.5.1.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="src/assets/JS/jquery-3.5.1.js"></script>
    <script src="src/assets/JS/rsmenu-main.js"></script>
    <script src="src/assets/JS/isotope.pkgd.min.js"></script>
    <script src="src/assets/JS/wow.min.js"></script>
    <script src="src/assets/JS/jquery.counterup.min.js"></script>
    <script src="src/assets/JS/jquery.waypoints.min.js"></script>
    <script src="src/assets/JS/jquery.magnific-popup.min.js"></script>
    <script src="src/assets/JS/plugins.js"></script>
    <script src="src/assets/JS/contact.form.js"></script>
    <script src="src/assets/JS/main2.js"></script> -->
</body>
<!-- </html> -->
