<body>
    <div class="container d-flex justify-content-center align-items-center vh-100"
    style="margin-top: 12%;margin-bottom: 10.65%;">
       <div class="bg-white text-center p-5 mt-3 center">
          <h3>Reset Password </h3>
          <h5>Enter Old Password for reset password request</h5>
          <div *ngIf="showerror" class="row d-flex justify-content-center mt-3 alert alert-danger mt-3" style="font-size:large;">
            You have entered incorrect Password !!
         </div>
          <form #resetpassword="ngForm" class="pb-3" (ngSubmit)="checkOldPassword(resetpassword.value)">
             <div class="form-group">
                <input [type]="show1 ? 'text' : 'password'" class="form-control"
                 name="password" placeholder="Old Password" 
                 ngModel required #password="ngModel" value="secret"> 
                 <span class="fa fa-fw fa-eye field-icon toggle-password" 
                  (click)="toggleShow1()"></span>
                  <div class="alert alert-danger mt-3" role="alert"
                  *ngIf="password.touched && password.invalid">
                      <div *ngIf="password.errors.required">
                          Password is Required !!
                      </div>
                  </div>
             </div>
             <div style="font-size: large;">
                <a [routerLink]="['/sms/home/login/forgot-password']" class="forgot-btn">Forgot Password?</a>          
             </div>
             <button style="margin-top: 3%;" type="submit" class="btn">Submit</button>
          </form>
         
       </div>
    </div> 
   
 </body>
