<div class="notice-box-wrap">
    <div class="notice-list">

    <!-- Breadcubs Area Start Here -->
    <div class="breadcrumbs-area">
        <h3>Students</h3>
        <ul>
            <li>
                <a [routerLink]="['/dashboard']">Home</a>
            </li>
            <li>All Students</li>
        </ul>
    </div>
    <!-- Breadcubs Area End Here -->
    <!-- Student Table Area Start Here -->
    <div class="card height-auto">
        <!-- <div class="card-body"> -->
            
            <div class="col-lg-12 col-xl-12 col-12-xxxl">
                <div class="card dashboard-card-six pd-b-20">
                    <div class="card-body">
                        <div class="heading-layout1">
                            <div class="item-title mt-4 mb-4">
                                <h3>All Students Data</h3>
                            </div>
                        </div>
                        <form #filterdata="ngForm" class="mg-b-20" class="mg-b-20">
                            <div class="row gutters-8">
                                
                                    <div class="col-lg-6 col-xl-6 col-xxl-6 col-md-6 col-12 form-group ">
                                     <!-- <label for="sel1">Select UserType :</label> -->
                                     <select class="form-control" required name="standard" ngModel #standard="ngModel" (change)="changestd($event)">
                                        <option value="">Please Select Standard</option>
                                        <option *ngFor="let standard of standards" [value]="standard.standardName">{{standard.standardName}}</option>
                                    </select>
                                     </div>
                                
                                    <div class="col-lg-6 col-xl-6 col-xxl-6 col-md-6 col-12 form-group ">
                                     <!-- <label for="sel1">Select UserType :</label> -->
                                     <select class="form-control" required name="division" ngModel #division="ngModel" (change)="changediv($event)">
                                        <option value="">Please Select Division</option>
                                        <option *ngFor="let division of divisions" [value]="division.divisionName">{{division.divisionName}}</option>
                                    </select>
                                     </div>
                                </div>
                                <div class="row d-flex justify-content-center mt-2">
                                    <div class="col-2-xxxl col-xl-3 col-lg-3 col-12 form-group d-flex justify-content-center">
                                        <a (click)="getStudentByStdAndDiv(filterdata.value)" role="button" class="fw-btn-fill btn-gradient-yellow text-center" style="color: white;">SEARCH</a>
                                    </div>
                                </div>
                                 
                            <!-- </div> -->
                        </form>
                        <div class="notice-box-wrap1">
                            <div class="notice-list">
                                <div class="row">
                                    <div class="col-md-12 col-lg-6 col-xl-4 col-xxl-4 col-sm-6 col-12" *ngFor="let student of students">
                                    <div class="card1">
                                        <div class="card-body1">
                                            <div class="heading-layout1 float-right">
                                                <div class="dropdown">
                                                    <a class="dropdown-toggle"  role="button" data-toggle="dropdown"
                                                        aria-expanded="false"><i class="fa fa-ellipsis-v fa-xs" aria-hidden="true"></i></a>
                                    
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a (click)="updateStudent(student.grNo)" class="dropdown-item" role="button"><i
                                                            class="fa fa-edit" style="color:green"></i>Update</a>
                                                        <a (click)="viewStudent(student.grNo)" class="dropdown-item" role="button" (click)="addTeacherRequest(teacher.teacherRequestId)"><i
                                                                class="fa fa-plus" style="color:darkblue"></i>View</a>
                                                        <a (click)="deleteStudent(student.grNo)" class="dropdown-item" role="button"><i
                                                                    class="fa fa-trash" style="color: red;"></i>Delete</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="doctor-profile">
                                                <img src="{{student.image}}" width="60" class="doctor-pic" alt="img">
                                            </div>
                                            <div class="profile-usertitle">
                                                <div class="doctor-name">{{student.firstName|titlecase}}&nbsp;{{student.middleName|titlecase}}</div>
                                                <div class="detail mt-3">
                                                    <span style="font-weight: bold;">GR No: </span><span>&nbsp;{{student.grNo}}</span><br>
                                                    <span style="font-weight: bold;">Standard: </span><span>&nbsp;{{student.standard.standardName}}</span><br>
                                                    <span style="font-weight: bold;">Division: </span><span>&nbsp;{{student.division.divisionName|titlecase}}</span><br>
                                                    <span style="font-weight: bold;">Roll No: </span><span>&nbsp;{{student.rollNo}}</span><br>
                                                    <span style="font-weight: bold;">Gender: </span><span>&nbsp;{{student.gender|titlecase}}</span><br><br>
                                                </div>  
                                                <!-- <div class="middle">
                                                    <a (click)="viewStudent(student.grNo)" class="btn mybtn text" role="button" style="color: white;">&nbsp;&nbsp;View&nbsp;&nbsp;</a>
                                                </div>
                                                <a (click)="updateStudent(student.grNo)" class="btn btn-success mybtn text-center mt-2" role="button" style="color: white;">&nbsp;&nbsp;&nbsp;&nbsp;Edit&nbsp;&nbsp;&nbsp;</a>
                                                <a (click)="deleteStudent(student.grNo)" class="btn btn-danger mybtn text-center mt-2" role="button" style="color: white;">Delete</a>  -->
                                                                                                 
                                            </div>           
                                        </div>
                                    </div>
                                </div>             
                    </div>  
                    <div class="mt-5 d-flex justify-content-end" >
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                              <li class="page-item"><button [disabled]="statusPre"  class="page-link" [routerLink]="['/admin/students/all-students']" role="button" (click)="pre()">Previous</button></li>
                              <li class="page-item" [ngClass]="{'active': i == page}" *ngFor="let p of pages;let i=index">
                                <a class="page-link" [routerLink]="['/admin/students/all-students']" role="button" (click)="setPage(i,$event)">{{i+1}}</a>
                              </li>
                              <li class="page-item"><button [disabled]="statusNext" class="page-link" [routerLink]="['/admin/students/all-students']"  role="button" (click)="next()">Next</button></li>
                            </ul>
                          </nav>
                    </div>
                </div>
            </div>
            </div>
            </div>
            
            <!-- <div class="table-responsive">
               
            </div> -->
        </div>
    <!-- </div> -->
    <!-- Student Table Area End Here -->
    <!-- Footer Area Start Here -->
</div>
</div>