<div class="breadcrumbs-area">
    <h3>Fees</h3>
    <ul>
        <li>
            <a [routerLink]="['admin/dashboard']">Home</a>
        </li>
        <li>Add Fees Structure</li>
    </ul>
</div>
<div class="card height-auto">
    <div class="card shadow border-0 pb-8" style="background-color: white;">
        <div class="container">
            <div class="row justify-content-center mt-4">
                <div class="col-lg-6 col-12 col-sm-6 col-md-6 col-4-xxxl text-center center" style="margin-top: 5%; margin-bottom: 2%;">
                    <form>
                       <div class="form-group">
                        <!-- <label for="sel1">Select UserType :</label> -->
                        <select class="form-control shadow" id="myselect">
                            <option value="" selected="selected">Select Medium</option>
                            <option value="english">English</option>
                            <option value="gujarati">Gujarati</option>
                        </select>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row justify-content-center mt-4">
                <div class="col-lg-5 col-xl-3 col-md-7 col-sm-7 col-10">
                    <h5 class="myfont">Add Fees Of Below Standards</h5>
                </div>
            </div>
            <form>
                <div class="row">
                    <!-- Nursery -->
                    <div class="col-xl-4 col-lg-6 col-12 col-sm-12 form-group">
                        <label>Nursery *</label>
                        <input required type="text" placeholder="" class="form-control">
                    </div>
                    <!-- junior -->
                    <div class="col-xl-4 col-lg-6 col-12 col-sm-12 form-group">
                        <label>Junior *</label>
                        <input required type="text" placeholder="" class="form-control">
                    </div>
                    <!-- Senior -->
                    <div class="col-xl-4 col-lg-6 col-12 col-sm-12 form-group">
                        <label>Senior *</label>
                        <input required type="text" placeholder="" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <!-- Nursery -->
                    <div class="col-xl-4 col-lg-6 col-12 col-sm-12 form-group">
                        <label>1st *</label>
                        <input required type="text" placeholder="" class="form-control">
                    </div>
                    <!-- junior -->
                    <div class="col-xl-4 col-lg-6 col-12 col-sm-12 form-group">
                        <label>2nd *</label>
                        <input required type="text" placeholder="" class="form-control">
                    </div>
                    <!-- Senior -->
                    <div class="col-xl-4 col-lg-6 col-12 col-sm-12 form-group">
                        <label>3rd *</label>
                        <input required type="text" placeholder="" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <!-- Nursery -->
                    <div class="col-xl-4 col-lg-6 col-12 col-sm-12 form-group">
                        <label>4th *</label>
                        <input required type="text" placeholder="" class="form-control">
                    </div>
                    <!-- junior -->
                    <div class="col-xl-4 col-lg-6 col-12 col-sm-12 form-group">
                        <label>5th *</label>
                        <input required type="text" placeholder="" class="form-control">
                    </div>
                    <!-- Senior -->
                    <div class="col-xl-4 col-lg-6 col-12 col-sm-12 form-group">
                        <label>6th *</label>
                        <input required type="text" placeholder="" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <!-- Nursery -->
                    <div class="col-xl-4 col-lg-6 col-12 col-sm-12 form-group">
                        <label>7th *</label>
                        <input required type="text" placeholder="" class="form-control">
                    </div>
                    <!-- junior -->
                    <div class="col-xl-4 col-lg-6 col-12 col-sm-12 form-group">
                        <label>8th *</label>
                        <input required type="text" placeholder="" class="form-control">
                    </div>
                    <!-- Senior -->
                    <div class="col-xl-4 col-lg-6 col-12 col-sm-12 form-group">
                        <label>9th *</label>
                        <input required type="text" placeholder="" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <!-- Nursery -->
                    <div class="col-xl-4 col-lg-6 col-12 col-sm-12 form-group">
                        <label>10th *</label>
                        <input required type="text" placeholder="" class="form-control">
                    </div>
                </div>
                <!-- button -->
            <div class="row justify-content-center mt-6">
                <!-- <a class="btn btn-primary" role="button">Uplaod</a> -->
                <!-- <a class="btn btn-primary btn-lg" href="#" role="button">Save</a> -->
                <div class="col-12 form-group mg-t-8">
                    <a class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark" style="margin-right: 2%;">Save</a>
                    <button type="reset" class="btn-fill-lg bg-blue-dark btn-hover-yellow">Reset</button>
                </div>
            </div>
            </form>
        </div>
    </div> 
</div>
