  <!-- Breadcubs Area Start Here -->
  <div class="breadcrumbs-area ml-4">
    <h3>Attendance</h3>
    <ul>
        <li>
            <a href="index.html">Teacher</a>
        </li>
        <li>Update Attendance</li>
    </ul>
</div>
<!-- Breadcubs Area End Here -->
<!-- Add New Book Area Start Here -->
<div class="card height-auto">
    <div class="card-body">
        <div class="heading-layout1">
            <div class="item-title mt-4 mb-4">
                <h3>Update Student Attendance</h3>
            </div>
        </div>
        <!--(ngSubmit)="addMeeting(meetingform.value)" #meetingform="ngForm"-->
        <form #updateAttendanceForm="ngForm" class="new-added-form" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-xl-3 col-lg-6 col-12 col-sm-12 form-group">
                    <label>Month <span class="c">*</span></label>
                    <select class="form-control" required name="month" [(ngModel)]="attendance.month" #month="ngModel" >
                        <option *ngFor="let month of monthData" [value]="month">{{month}}</option>
                        <span *ngIf="month.touched && month.invalid">
                            Month is Requied !!
                        </span>
                    </select>
                </div>
                <!-- meeting date -->
                <div class="col-xl-3 col-lg-6 col-12 form-group">
                    <label>Year <span class="c">*</span></label>
                    <select class="form-control" required name="year" [(ngModel)]="attendance.year" #year="ngModel" >
                        <option *ngFor="let year of yearData" [value]="year">{{year}}</option>
                    </select>
                   
                </div>
                
                <div class="col-xl-3 col-lg-6 col-12 form-group">
                    <label>Present Day <span class="c">*</span></label>
                    <input required type="text"  maxlength="2" pattern="^[0-9]{1,2}$" class="form-control"
                    name="presentDays" [(ngModel)]="attendance.presentDays" #presentDays="ngModel"><!--ngModel name="meetingStartTime" #meetingStartTime="ngModel"-->
                    <div *ngIf="presentDays.invalid && (presentDays.dirty || presentDays.touched)" style="color: red;">
                        <div *ngIf="presentDays.errors.required">
                            present Days is required!!
                        </div>
                        <div *ngIf="presentDays.errors.pattern">
                            Enter Numeric values only!! <br>
                            Enter maximum 2 digit value only!!
                        </div>
                    </div>
                </div>
                <!-- meeting end time -->
                <div class="col-xl-3 col-lg-6 col-12 form-group">
                    <label>Absent Day <span class="c">*</span></label>
                    <input required type="text" class="form-control" maxlength="2" pattern="^[0-9]{1,2}$"
                    name="absentDays" [(ngModel)]="attendance.absentDays" #absentDays="ngModel">
                    <div *ngIf="absentDays.invalid && (absentDays.dirty || absentDays.touched)" style="color: red;">
                        <div *ngIf="absentDays.errors.required">
                            absent Days is required!!
                        </div>
                        <div *ngIf="absentDays.errors.pattern">
                            Enter Numeric values only!! <br>
                            Enter maximum 2 digit value only!!
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-12 form-group">
                    <label>Total Day <span class="c">*</span></label>
                    <input required type="text" class="form-control" maxlength="2" pattern="^[0-9]{1,2}$"
                    name="totalDays" [(ngModel)]="attendance.totalDays" #totalDays="ngModel">
                    <div *ngIf="totalDays.invalid && (totalDays.dirty || totalDays.touched)" style="color: red;">
                        <div *ngIf="totalDays.errors.required">
                            total Days is required!!
                        </div>
                        <div *ngIf="totalDays.errors.pattern">
                            Enter Numeric values only!! <br>
                            Enter maximum 2 digit value only!!
                        </div>
                    </div>
                </div>
                <div class="col-12 form-group mg-t-8">
                    <!--[disabled]="meetingform.invalid"-->
                    <button [disabled]="updateAttendanceForm.invalid"  type="submit" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">Save</button>
                    <button type="reset" class="btn-fill-lg bg-blue-dark btn-hover-yellow">Reset</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Add New Book Area End Here -->

