
    <!-- Breadcubs Area Start Here -->
    <div class="breadcrumbs-area">
        <h3>Event</h3>
        <ul>
            <li>
                <a [routerLink]="['admin/dashboard']">Home</a>
            </li>
            <li>Add Event</li>
        </ul>
    </div>
    <!-- Breadcubs Area End Here -->
    <!-- Add New Book Area Start Here -->
    <div class="card height-auto">
        <div class="card-body">
            <div class="heading-layout1">
                <div class="item-title mt-4 mb-4">
                    <h3>Add New Event</h3>
                </div>
            </div>
            <form #eventform="ngForm" class="new-added-form" (ngSubmit)="addEvent(eventform.value)">
                <div class="row">
                    <!-- event name -->
                    <div class="col-xl-4 col-lg-6 col-12 col-sm-12 form-group">
                        <label>Event Name <span style="color: red;">*</span></label>
                        <input required type="text" placeholder="" class="form-control"
                        ngModel name="eventName" #eventName="ngModel" pattern="^[0-9a-zA-Z. ]*[a-zA-Z]{1,60}$">
                        <div style="color: red;"  *ngIf="eventName.invalid && (eventName.dirty || eventName.touched)">
                            <div *ngIf="eventName.errors.required">
                                Event Name is Required !!
                            </div>
                            <div *ngIf="eventName.errors?.pattern">
                                You can enter only alphabatic value with atleast one uppercase.<br>
                                <strong>Ex: Annual Function</strong>
                            </div>
                        </div>
                    </div>
                    <!-- event start date -->
                    <div class="col-xl-4 col-lg-6 col-12 col-sm-12 form-group">
                        <label>Event Start Date <span style="color: red;">*</span></label>
                        <input required type="date" placeholder="dd/mm/yyyy" class="form-control air-datepicker"
                            data-position='bottom right'
                            ngModel name="eventStartdate" #eventStartdate="ngModel">
                        <i class="far fa-calendar-alt"></i>
                        <span style="color: red;"
                            *ngIf="eventStartdate.touched && !eventStartdate.valid">
                            Event Start Date is required!!
                        </span>
                    </div>
                    <!-- event end date -->
                    <div class="col-xl-4 col-lg-6 col-12 col-sm-12 form-group">
                        <label>Event End Date <span style="color: red;">*</span></label>
                        <input required type="date" placeholder="dd/mm/yyyy" class="form-control air-datepicker"
                            data-position='bottom right'
                            ngModel name="eventEnddate" #eventEnddate="ngModel">
                        <i class="far fa-calendar-alt"></i>
                        <span style="color: red;"
                            *ngIf="eventEnddate.touched && !eventEnddate.valid">
                            Event End Date is required!!
                        </span>
                    </div>
                    <!-- start time -->
                    <div class="col-xl-4 col-lg-6 col-12 form-group">
                        <label>Event Start Time <span style="color: red;">*</span></label>
                        <input required type="time" step="1" placeholder="HH-mm-ss" class="form-control"
                        ngModel name="eventStarttime" #eventStarttime="ngModel">
                        <span style="color: red;"
                            *ngIf="eventStarttime.touched && !eventStarttime.valid">
                            Event Start Time is required!!
                        </span>
                    </div>
                    <!-- event end time -->
                    <div class="col-xl-4 col-lg-6 col-12 form-group">
                        <label>Event End Time <span style="color: red;">*</span></label>
                        <input required type="time" step="1" placeholder="HH-mm-ss" class="form-control"
                        ngModel name="eventEndtime" #eventEndtime="ngModel">
                        <span style="color: red;"
                            *ngIf="eventEndtime.touched && !eventEndtime.valid">
                            Event End Time is required!!
                        </span>
                    </div>
                    <div class="col-lg-6 col-12 form-group">
                        <label>Event Description <span style="color: red;">*</span></label>
                        <textarea class="textarea form-control" id="form-message" cols="5"
                            rows="3" ngModel name="eventDescription" #eventDescription="ngModel"></textarea>
                        <span style="color:rgb(90, 88, 88)">
                            Event Description is optional !!
                        </span>
                    </div>
                    <div class="col-12 form-group mg-t-8">
                        <button [disabled]="eventform.invalid" type="submit" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">Save</button>
                        <button type="reset" class="btn-fill-lg bg-blue-dark btn-hover-yellow">Reset</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- Add New Book Area End Here -->

