 <!-- Breadcubs Area Start Here -->
 <div class="breadcrumbs-area">
    <h3>Activities-Achievements</h3>
    <ul>
        <li>
            <a routerLink="/dashboard">Dashboard</a>
        </li>
        <li>All Activities-Achievements</li>
    </ul>
</div>
<!-- Breadcubs Area End Here -->
<!-- Student Table Area Start Here -->
<div class="card height-auto">
    <div class="card-body">
        <div class="heading-layout1">
            <div class="item-title mt-4 mb-4">
                <h3>All Activities-Achievements Data</h3>
            </div>
        </div>
        <!-- add student button -->
        <form class="mg-b-20">
            <div class="row gutters-8">
                <div class="col-4-xxxl col-xl-4 col-lg-3 col-12 form-group">
                    <button [routerLink]="['add-activities-achivements']" type="button" class="btn btn-outline-primary mybtn">Add Activities-Achievements</button>
                </div>
            </div>
        </form>
        <form class="mg-b-20">
            <div class="row gutters-8 d-flex justify-content-center">
                <div class="col-6-xxxl col-xl-6 col-lg-6 col-12 form-group">
                    <input type="text" required [(ngModel)]="nameSearch" name="nameSearch" placeholder="Search by Image Type Name ..." class="form-control text-center">
                </div>
                <!-- <div class="col-1-xxxl col-xl-2 col-lg-3 col-6 form-group">
                    <button type="submit" class="fw-btn-fill btn-gradient-yellow">SEARCH</button>
                </div> -->
            </div>
        </form>
        <div class="table-responsive">
            <table class="table text-nowrap  table-hover">
                <thead>
                    <tr class="text-center">
                        <th>Sr No.</th><th></th>
                        <th>Image Type Name</th><th></th>
                        <th>Discription</th><th></th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center" *ngFor="let image of images | activitiesAchievements:nameSearch ;let i=index">
                        <td>{{i+1}}</td><td></td>
                        <td>{{image.imageName|titlecase}}</td><td></td>
                        <td *ngIf="!image.imageDiscription" class="font-medium text-dark-medium myfont">-</td>
                        <td *ngIf="image.imageDiscription">{{image.imageDiscription|slice:0:5|titlecase}}...</td>
                        <td></td>
                        <td>
                            &nbsp;<a (click)="updateActAch(image.imageId)" style="color: green;"><i class="fa fa-edit"></i></a>
                            &nbsp;<a (click)="viewActAch(image.imageId)" style="color: darkblue;"><i class="fa fa-eye"></i></a>
                            &nbsp; <a (click)="deleteActAch(image.imageId)" style="color: red;"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="mt-5 d-flex justify-content-end" >
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                      <li class="page-item"><button [disabled]="statusPre"  class="page-link" [routerLink]="['/admin/dashboard/activities-achivements/all-activities-achivements']" role="button" (click)="pre()">Previous</button></li>
                      <li class="page-item" [ngClass]="{'active': i == page}" *ngFor="let p of pages;let i=index">
                        <a class="page-link" [routerLink]="['/admin/dashboard/activities-achivements/all-activities-achivements']" role="button" (click)="setPage(i,$event)">{{i+1}}</a>
                      </li>
                      <li class="page-item"><button [disabled]="statusNext" class="page-link" [routerLink]="['/admin/dashboard/activities-achivements/all-activities-achivements']"  role="button" (click)="next()">Next</button></li>
                    </ul>
                  </nav>
            </div>
        </div>
    </div>
</div>
<!-- Student Table Area End Here -->
