 <!-- Breadcubs Area Start Here -->
    <div class="breadcrumbs-area">
        <h3>Fees</h3>
        <ul>
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>All Fees</li>
        </ul>
    </div>
    <!-- Breadcubs Area End Here -->
    <!-- Student Table Area Start Here -->
    <div class="card height-auto">
        <div class="card-body">
            <div class="heading-layout1">
                <div class="item-title mt-4 mb-4">
                    <h3>All Fees Data</h3>
                </div>
            </div>
            <form class="mg-b-20">
                <div class="row gutters-8">
                    <!-- <div class="col-3-xxxl col-xl-3 col-lg-3 col-12 form-group">
                        <input type="text" placeholder="Search by Roll ..." class="form-control">
                    </div>
                    <div class="col-4-xxxl col-xl-4 col-lg-3 col-12 form-group">
                        <input type="text" placeholder="Search by Name ..." class="form-control">
                    </div>
                    <div class="col-4-xxxl col-xl-3 col-lg-3 col-12 form-group">
                        <input type="text" placeholder="Search by Class ..." class="form-control">
                    </div>
                    <div class="col-1-xxxl col-xl-2 col-lg-3 col-12 form-group">
                        <a href="#" role="button" class="fw-btn-fill btn-gradient-yellow">&nbsp;SEARCH</a>
                    </div> -->
                    <form #filterdata="ngForm" class="mg-b-20" class="mg-b-20">
                        <div class="row gutters-8">
                                <div class="col-lg-6 col-xl-6 col-xxl-6 col-md-6 col-12 form-group ">
                                 <select class="form-control" required name="standard" ngModel #standard="ngModel" (change)="changestd($event)">
                                    <option value="">Please Select Standard</option>
                                    <option *ngFor="let standard of standards" [value]="standard.standardName">{{standard.standardName}}</option>
                                </select>
                                 </div>
                                <div class="col-lg-6 col-xl-6 col-xxl-6 col-md-6 col-12 form-group ">           
                                 <select class="form-control" required name="division" ngModel #division="ngModel" (change)="changediv($event)">
                                    <option value="">Please Select Division</option>
                                    <option *ngFor="let division of divisions" [value]="division.divisionName">{{division.divisionName}}</option>
                                </select>
                                 </div>
                        </div>
                            <div class="row d-flex justify-content-center">
                                <div class="col-4-xxxl col-xl-4 col-lg-4 col-12 form-group d-flex justify-content-center">
                                    <a (click)="getFeesByStdAndDiv()" role="button" class="fw-btn-fill btn-gradient-yellow text-center" style="color: white;">SEARCH</a>
                                </div>
                            </div>
                             
                        <!-- </div> -->
                    </form>
                </div>
            </form>
            <!-- starting ma data load nayi thay std and div vise data load thase -->
            <div class="table-responsive">
                <table class="table text-nowrap table-hover">
                    <thead>
                        <tr class="text-center">
                            <th>GR No</th><th></th>
                            <th>Standard</th><th></th>
                            <th>Division</th><th></th>
                            <th>Installment No</th><th></th>
                            <th>Paid Amount</th><th></th>
                            <!-- <th>Late Fee Amount</th><th></th>
                            <th>Total Fees Amount</th><th></th> -->
                            <th>Payment Date</th><th></th>
                            <th>Payment Mode</th><th></th>
                            <th>Fee Status</th><th></th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-center" *ngFor="let fee of feepayments">
                            <td>{{fee.student.grNo}}</td><td></td>
                            <td>{{fee.student.standard.standardId}}</td><td></td>
                            <td>{{fee.student.division.divisionName}}</td><td>
                            <td>{{fee.installmentNo}}</td><td></td>
                            <td>{{fee.feesAmount}}</td><td></td>
                            <!-- <td>{{fee.latefeesAmount}}</td><td></td>
                            <td>{{fee.totalfeesAmount}}</td><td></td> -->
                            <td>{{fee.paymentDate| date:'dd-MM-yyyy'}}</td><td></td>
                            <td>{{fee.paymentMode}}</td><td></td>
                            <td>{{fee.student.feeStatus}}</td><td></td>
                            <td>
                                &nbsp;<a (click)="updateFee(fee.paymentId)" role="button"><i class="fa fa-edit" style="color: green;"></i></a>
                                &nbsp;<a (click)="viewFee(fee.paymentId)" role="button"><i class="fa fa-eye" style="color: darkblue;"></i></a>
                                &nbsp; <a (click)="deleteFee(fee.paymentId)" role="button"><i class="fa fa-trash" style="color: red;"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="mt-5 mb-5 d-flex justify-content-end" >
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                          <li class="page-item"><button [disabled]="statusPre"  class="page-link" [routerLink]="['/admin/fees/fee-details']" role="button" (click)="pre()">Previous</button></li>
                          <li class="page-item" [ngClass]="{'active': i == page}" *ngFor="let p of pages;let i=index">
                            <a class="page-link" [routerLink]="['/admin/fees/fee-details']" role="button" (click)="setPage(i,$event)">{{i+1}}</a>
                          </li>
                          <li class="page-item"><button [disabled]="statusNext" class="page-link" [routerLink]="['/admin/fees/fee-details']"  role="button" (click)="next()">Next</button></li>
                        </ul>
                      </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- Student Table Area End Here -->
