<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head> -->
<body class="defult-home">
     
    <!--Preloader area start here-->
    <!-- <div id="loader" class="loader yellow-color">
        <div class="loader-container">
            <div class='loader-icon'>
                <img src="assets/images/dplog.png" alt="">
            </div>
        </div>
    </div> -->
    <!--Preloader area End here--> 
<!-- Main content Start -->
<div class="main-content">
<!-- Breadcrumbs Start -->

<!-- Breadcrumbs End -->   
 <!--Full width header Start-->
<div class="full-width-header home8-style4 home9">
    <!--Header Start-->
    <header id="rs-header" class="rs-header">
        <!-- Menu Start -->
        <!-- Topbar Area Start -->
        
        <!-- Topbar Area End -->
        <div class="menu-area menu-sticky">
            <div class="container">
                <div class="row y-middle">
                    <div class="col-lg-1 text-center">
                        <div class="logo-cat-wrap">
                            <div class="logo-part text-center">
                                <a href="index.html">
                                    <img class="normal-logo" src="assets/images/dplog.png" alt="">
                                    <img class="sticky-logo" src="assets/images/dplog.png" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 text-left" style="font-size: 3vw;font-family: sans-serif;color: #1c335f;">
                        <span class="name">D.P. High School</span>
                    </div>
                    <div class="col-lg-3 text-right">
                      <div class="rs-menu-area">
                          <div class="main-menu">
                              <div class="mobile-menu">
                                  <a class="rs-menu-toggle">
                                      <i class="fa fa-bars"></i>
                                  </a>
                              </div>
                              <nav class="rs-menu">
                                 <ul class="nav-menu">
                                  <li class="menu-item-has-children current-menu-item">
                                      <a href="registration.html">Register</a>
                                      
                                  </li>

                                     <li class="menu-item-has-children">
                                         <a href="login.html">LogIn</a>
                                         
                                     </li>

                                     
                                 </ul> <!-- //.nav-menu -->
                              </nav>                                        
                          </div> <!-- //.main-menu -->
                        
                      </div>
                    </div>
                    
                    <div class="col-lg-2 text-right">
                        <!-- <div class="expand-btn-inner">
                            
                            <a id="nav-expander" class="nav-expander style6">
                                <div class="bar">
                                    <span class="dot1"></span>
                                    <span class="dot2"></span>
                                    <span class="dot3"></span>
                                </div>
                            </a>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Menu End --> 

        <!-- Canvas Menu start -->
    <nav class="right_menu_togle hidden-md">
        <div class="close-btn">
            <span id="nav-close">
                <div class="line">
                    <span class="line1"></span><span class="line2"></span>
                </div>
            </span>
        </div>
        
    </nav>
    <!-- Canvas Menu end -->
    </header>
    <!--Header End-->
</div>
<!--Full width header End-->         

<!-- Admission process starts -->
<div class="contact-page-section space pt-200 pb-100 md-pt-70 md-pb-70">
    <div class="container">
       
       <div class="rs-quick-contact1">
           <div class="row">
               <div class="col-lg-2"></div> 
               <div class="col-lg-9 text-center">
                   <h2  style="color: red;">Admission Process</h2>
               </div>
           </div>
           <div class="row">
               <div class="col-lg-8 text-left pt-20">
                   <h6>Admissions take place from November to March.</h6>
                   <h6>Please visit the campus or click below button to submit your Query.</h6>
                   <div class="sl-btn wow fadeInUp mt-2 text-left" data-wow-delay="20ms" data-wow-duration="1000ms">
                        <a class="readon orange-btn main-home" [routerLink]="['/sms/home/inquiry']">Inquiry</a>
                  </div>
               </div>
           </div>
           <div class="row mt-5">
               <div class="col-lg-8">
                   <h4>Documents Required for Nursery to Standard 1st :</h4>
                   <h6>1. Registration Form</h6>
                   <h6>2. Attested Birth Certificate</h6>
                   <h6>3. Proof of Residence</h6>
                   <h6>4. 3 passport size photographs each of the child, father and mother</h6> 
               </div>
           </div>
           <div class="row mt-5">
               <div class="col-lg-9">
                   <h4>Documents Required for standard 1st to Standard 12th :</h4>
                   <h6>1. Registration Form</h6>
                   <h6>2. School Leaving Certificate</h6>
                   <h6>3. Attested xerox copy of academic report card from the previous school attended.</h6>
                   <h6>4. Proof of Residence</h6> 
                   <h6>5. 3 passport size photographs each of the child, father and mother</h6>
               </div>
           </div>
           <div class="row mt-5">
               <div class="col-lg-8">
                   <h4>Admission Process: </h4>
                   <h5><strong>Step 1:</strong></h5>
                   <h6>Visit the campus</h6>
                   <h6>Collect The Registration Form</h6>
                    
                   <h5><strong>Step 2:</strong></h5>
                   <h6>Complete & Submit Registration Form</h6>
                   <h6>Enclose the required documents ( Birth certificate for Nursery to standard 1st)<br>(School Leaving Certificate & attested xerox copy of Report card from the last school attended for Standard 2nd to Standard)</h6>

                   <h5><strong>Step 3:</strong></h5>
                   <h6>Wait for notification from the school</h6>

                   <h5><strong>Step 4:</strong></h5>
                   <h6>On being notified, Pay the fee</h6>
                   <h6>Accept congratulatory letter and Collect information for next session</h6>
               </div>
           </div>

           <div class="row mt-5">
               <div class="col-lg-12 col-sm-12 res">
                   <h4 class="text-center">Fee Structure: </h4>
                   
                    <div class="row">
                      <div class=" col-lg-6 col-sm-12 col-md-12 mt-3">
                        <div class="card feecard">
                            <h5 class="card-header text-center" style="background-color: #1C335F;color: #ffffff">English Medium</h5>
                          <div class="card-body">
                            
                            <span class="card-text"><span class="mycolor">Standard Nursery to Senior:</span>&nbsp; <strong>{{feeData1.fee}}/-</strong> Yearly</span><br><br>
                            <span class="card-text"><span class="mycolor">Standard 1st To 8th:</span>&nbsp; <strong>{{feeData2.fee}}/-</strong> Yearly</span><br><br>
                            <span class="card-text"><span class="mycolor">Satndard 9th and 10th:</span>&nbsp;<strong>{{feeData3.fee}}/- </strong> Yearly</span><br><br>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-6 col-sm-12 col-md-12 mt-3">
                        <div class="card feecard">
                            <h5 class="card-header text-center" style="background-color: #1C335F;color: #ffffff">Gujarati Medium</h5>
                          <div class="card-body">
                            
                            <span class="card-text"><span class="mycolor">Standard Nursery to Senior:</span>&nbsp; <strong>{{feeData4.fee}}/-</strong> Yearly</span><br><br>
                            <span class="card-text"><span class="mycolor">Standard 1st To 8th:</span>&nbsp; <strong>{{feeData5.fee}}/-</strong> Yearly</span><br><br>
                            <span class="card-text"><span class="mycolor">Satndard 9th and 10th:</span>&nbsp;<strong>{{feeData6.fee}}/- </strong> Yearly</span><br><br>
                          </div>
                        </div>
                      </div>
                      
                 </div>
                    
                </div>
        </div>
<!-- Admission process End -->  

<!-- Newsletter section start -->

<!-- Newsletter section end -->
</div> 
</div>
</div>
</div>
<!-- Main content End --> 
</body>
<!-- </html> -->
