  <!-- Breadcubs Area Start Here -->
  <div class="breadcrumbs-area ml-4">
    <h3>Meeting</h3>
    <ul>
        <li>
            <a href="index.html">Teacher</a>
        </li>
        <li>Add Parents Meeting</li>
    </ul>
</div>
<!-- Breadcubs Area End Here -->
<!-- Add New Book Area Start Here -->
<div class="card height-auto">
    <div class="card-body">
        <div class="heading-layout1">
            <div class="item-title mt-4 mb-3">
                <h3>Add New Meeting</h3>
            </div>
        </div>
        <!---->
        <form #meetingform="ngForm" class="new-added-form"(ngSubmit)="addMeeting(meetingform.value)" >
            <div class="row">
                <!-- type -->
                <div class="col-xl-3 col-lg-6 col-12 col-sm-12 form-group">
                    <label>UserType<span class="c">*</span></label>
                    <input readonly type="text" name="Parent" placeholder="Parent" class="form-control"
                    ngModel name="usertype" #usertype="ngModel">
                </div>
                <!-- meeting name -->
                <div class="col-xl-3 col-lg-6 col-12 col-sm-12 form-group">
                    <label>Meeting Name <span class="c">*</span></label>
                    <input required type="text" placeholder="" class="form-control"
                    pattern="^[0-9a-zA-Z. ]*[a-zA-Z]{1,60}$"
                    ngModel name="meetingName" #meetingName="ngModel">
                    <div *ngIf="meetingName.invalid && (meetingName.dirty || meetingName.touched)" style="color: red;">
                        <div *ngIf="meetingName.errors.required">
                            Meeting Name is required!!
                        </div>
                        <div *ngIf="meetingName.errors.pattern">
                            Enter Valid Meeting Name
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-12 col-sm-12 form-group">
                    <label>Standard <span class="c">*</span></label>
                    <select class="form-control" required name="standard" ngModel #standard="ngModel">
                        <!-- <option [ngValue]="null">Please Select Standard *</option> -->
                        <option *ngFor="let standard of standards" [value]="standard.standardName">{{standard.standardName}}</option>
                    </select>
                    <span style="color: red;"
                        *ngIf="standard.touched && !standard.valid">
                        Standard is required!!
                    </span>
                </div>
                <!-- Division -->
                <div class="col-xl-3 col-lg-6 col-12 col-sm-12 form-group">
                    <label>Division <span class="c">*</span></label>
                    <select class="form-control" required name="division" ngModel #division="ngModel">
                        <!-- <option [ngValue]="null">Please Select Division *</option> -->
                        <option *ngFor="let division of divisions" [value]="division.divisionName">{{division.divisionName}}</option>
                    </select>
                    <span style="color: red;"
                        *ngIf="division.touched && !division.valid">
                        Division is required!!
                    </span>
                </div>
                <!-- meeting date -->
                <div class="col-xl-3 col-lg-6 col-12 col-sm-12 form-group">
                    <label>Meeting Date<span class="c">*</span></label>
                    <input required type="date" placeholder="dd/mm/yyyy" class="form-control air-datepicker"
                        data-position='bottom right'
                        ngModel name="meetingDate" #meetingDate="ngModel">
                    <i class="far fa-calendar-alt"></i>
                    <span style="color: red;"
                        *ngIf="meetingDate.touched && !meetingDate.valid">
                        Meeting Date is required!!
                    </span>
                </div>
                <!-- meeting start time -->
                <div class="col-xl-3 col-lg-6 col-12 form-group">
                    <label>Meeting Start Time <span class="c">*</span></label>
                    <input required type="time" step="1" placeholder="HH-mm-ss" class="form-control"
                    ngModel name="meetingStartTime" #meetingStartTime="ngModel">
                    <span style="color: red;"
                        *ngIf="meetingStartTime.touched && !meetingStartTime.valid">
                        Meeting Start Time is required!!
                    </span>
                </div>
                <!-- meeting end time -->
                <div class="col-xl-3 col-lg-6 col-12 form-group">
                    <label>Meeting End Time<span class="c">*</span></label>
                    <input required type="time"  step="1" placeholder="HH-mm-ss" class="form-control"
                    ngModel name="meetingEndTime" #meetingEndTime="ngModel">
                    <span style="color: red;"
                        *ngIf="meetingEndTime.touched && !meetingEndTime.valid">
                        Meeting End Time is required!!
                    </span>
                </div>
                <!-- meeting description it is optional to write -->
                <div class="col-lg-6 col-12 form-group">
                    <label>Meeting Description </label>
                    <textarea class="textarea form-control" id="form-message" cols="5"
                        rows="3" ngModel name="meetingDescription" #meetingDescription="ngModel"></textarea>
                    <span style="color:rgb(90, 88, 88)">
                        Meeting Description is optional !!
                    </span>
                </div>
                <div class="col-12 form-group mg-t-8">
                    <button [disabled]="meetingform.invalid" type="submit" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">Save</button>
                    <button type="reset" class="btn-fill-lg bg-blue-dark btn-hover-yellow">Reset</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Add New Book Area End Here -->
