   <!-- Breadcubs Area Start Here -->
    <div class="breadcrumbs-area">
        <h3>Inquiry</h3>
        <ul>
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>All Inquires</li>
        </ul>
    </div>
    <!-- Breadcubs Area End Here -->
    <!-- Student Table Area Start Here -->
    <div class="card height-auto">
        <div class="card-body">
            <div class="heading-layout1">
                <div class="item-title mt-4 mb-4">
                    <h3>All Inquires Data</h3>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table text-nowrap table-hover">
                    <thead>
                        <tr class="text-center">
                            <th>Sr no.</th><th></th>
                            <!-- Add Email Id below -->
                            <th>Email Id</th><th></th>
                            <th>Inquiry</th><th></th>
                            <th>Inquiry Response</th><th></th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-center" *ngFor="let inquiry of inquiries;let i=index">
                            <td>{{i+1}}</td><td></td>
                            <td>{{inquiry.emailId}}</td><td></td>
                            <td>{{inquiry.inquiryMessage|titlecase}}</td><td></td>
                            <td *ngIf="!inquiry.inquiryResponse">-</td>
                            <td *ngIf="inquiry.inquiryResponse">{{inquiry.inquiryResponse|slice:0:8|titlecase}}...</td><td>
                            <td>
                                &nbsp;<a (click)="updateInquiry(inquiry.inquiryId)" role="button"><i class="fa fa-edit" style="color: green;"></i></a>
                                &nbsp;<a (click)="addInquiry(inquiry.inquiryId)" role="button"><i class="fa fa-plus" style="color:saddlebrown;"></i></a>
                                &nbsp;<a (click)="viewInquiry(inquiry.inquiryId)" role="button"><i class="fa fa-eye" style="color: darkblue;"></i></a>
                                &nbsp; <a (click)="deleteInquiry(inquiry.inquiryId)" role="button"><i class="fa fa-trash" style="color: red;"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="mt-5 d-flex justify-content-end" >
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                          <li class="page-item"><button [disabled]="statusPre"  class="page-link" [routerLink]="['/admin/inquiry/all-inquires']" role="button" (click)="pre()">Previous</button></li>
                          <li class="page-item" [ngClass]="{'active': i == page}" *ngFor="let p of pages;let i=index">
                            <a class="page-link" [routerLink]="['/admin/inquiry/all-inquires']" role="button" (click)="setPage(i,$event)">{{i+1}}</a>
                          </li>
                          <li class="page-item"><button [disabled]="statusNext" class="page-link" [routerLink]="['/admin/inquiry/all-inquires']"  role="button" (click)="next()">Next</button></li>
                        </ul>
                      </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- Student Table Area End Here -->