<body>
    <div class="container d-flex justify-content-center align-items-center vh-100"
    style="margin-top: 11.7%;margin-bottom: 10.6%;">
       <div class="bg-white text-center p-5 mt-3 center">
          <h3>Reset Password </h3>
          <div *ngIf="showError" class="row d-flex justify-content-center mt-3 alert alert-danger" style="font-size: large;">
            Both Password must be same !!
          </div>
          <div *ngIf="showSuccess" class="row d-flex justify-content-center mt-3 alert alert-success" style="font-size: large;">
            Password SuccessFully Updated!!
          </div>
          <form #updatePassword="ngForm" class="pb-3" (ngSubmit)="doUpdatePassword(updatePassword.value)">
             <div class="form-group">
                <input [type]="show1 ? 'text' : 'password'" class="form-control"
                 name="password" placeholder="New Password" 
                 ngModel required id="myInput" #password="ngModel"
                 minlength="8" maxlength="15" pattern="^[a-zA-Z0-9@$_-]{8,15}$"> 
                 <span class="fa fa-fw fa-eye field-icon toggle-password" 
                  (click)="toggleShow1()"></span>
                  <div class="alert alert-danger" role="alert"
                  *ngIf="password.invalid && (password.dirty || password.touched)">
                      <div *ngIf="password.errors.required ">
                          Password is Required !!
                      </div>
                      <div *ngIf="password.errors.minlength">
                          Password must be at least 8 and atmost 15 character long
                      </div>
                      <div *ngIf="password.errors.pattern">
                          <br>
                          To make a strong password use Alphanumeric value with atleast one special symbol.
                      </div>
                  </div>
             </div>
             <div class="form-group">
                <input [type]="show2 ? 'text' : 'password'" class="form-control" 
                style="margin-top: 30px;"
                 name="password1" maxlength="15" placeholder="Confirm Password" 
                 ngModel required=""
                 #password1="ngModel"> 
                 <span class="fa fa-fw fa-eye field-icon toggle-password"
                 (click)="toggleShow2()"></span>
                 <div class="alert alert-danger" role="alert"
                 *ngIf="password1.touched && password1.errors.required">
                 Confirm Password is Required !!
                 </div>
             </div>
             <button [disabled]="updatePassword.invalid"  type="submit" class="btn">Reset Password</button>
          </form>
         
       </div>
    </div> 
   
 </body>
