<!--
  <app-navbar></app-navbar>
  <app-sign-up></app-sign-up>
  <app-log-in></app-log-in>
-->
<router-outlet></router-outlet>
<!-- <app-check-pagination></app-check-pagination> -->
<!-- <app-teacher-layout></app-teacher-layout> -->
<!-- <app-parent-layout></app-parent-layout> -->
<!-- <app-fee-details></app-fee-details> -->

<!-- <app-best-students-images></app-best-students-images> -->
<!-- <app-main-home></app-main-home> -->
<!-- <app-login></app-login> -->
<!-- <app-register></app-register> -->
<!-- <app-inquiry></app-inquiry> -->
<!-- <app-admission-detail></app-admission-detail> -->
<!-- <app-admin-layout></app-admin-layout> -->
<!-- <app-admin-dashboard></app-admin-dashboard> -->
<!-- <app-navbar></app-navbar> -->
<!-- <app-all-students></app-all-students> -->
<!-- <app-add-student></app-add-student> -->
<!-- <app-student-promotion></app-student-promotion> -->