<body class="defult-home">
    <div class="main-content">
        <div class="rs-login pt-50 pb-50 md-pt-30 md-pb-30">
            <div class="container">
                             <div class="container d-flex justify-content-center align-items-center vh-100">
                                <div class="bg-white text-center p-5 center" style="margin-top: 11%;margin-bottom: 9.5%;">
                                    <h3>Forgot Password </h3>
                                    <h5>Enter Your email id for reset password request</h5>
                                    <div *ngIf="showEmailAlert" class="row d-flex justify-content-center mt-3 alert alert-success" style="font-size: large;">
                                        Otp is sent to your Email Id !!
                                    </div>
                                    <form #forgotPassword="ngForm" class="pb-3" (ngSubmit)="goToOtp(forgotPassword.value)">
                                        <div class="form-group">
                                            <input type="email" class="form-control" name="email" placeholder="Your Email Id" ngModel required
                                            #email="ngModel" email="true"> 
                                            <div *ngIf="email.invalid && email.touched" class="alert alert-danger mt-3" role="alert">
                                                <div *ngIf="email.errors.required" style="font-size: medium;">
                                                    Email is Required !!
                                                </div>
                                                <div *ngIf="email.errors.email" style="font-size:medium;">
                                                     Enter valid Email. <br> <strong>Ex: mansipatadiya@gmail.com</strong>
                                                </div>
                                            </div>
                                        </div>
                                        <button [disabled]="forgotPassword.invalid" type="submit" class="btn">Reset Password</button>
                                    </form>
                                    
                                </div>
                             </div>
                            <!-- <div class="row pt-10">
                                <div class="col-lg-2"></div>
                                <div class="col-lg-8 text-center" style="font-size: 2vw;font-family: sans-serif;color: #FF0000;">
                                    <p class="log"><strong>LOGIN</strong></p>
                                </div>
                                
                            </div> -->
                            <!-- role="form" #smslogin="ngForm" (ngSubmit)="loginAuth(smslogin.value)" -->
                            <!-- <form >
                                <div class="alert alert-danger" *ngIf='inValidLogin'>{{errorMessage}}</div>
                                <div class="alert alert-success" *ngIf='successLogin'>{{SuccessfulMessage}}</div>
                               <div class="form-group"> -->
                                <!-- <label for="sel1">Select UserType :</label> -->
                                <!-- <select class="form-control" id="sel1">
                                    <option>Select User Type</option>
                                    <option>Admin</option>
                                    <option>Teacher</option>
                                    <option>Parent</option>
                                </select> -->
                                <!-- </div>
    
                                <input type="email mb-30" name="username" ngModel placeholder="username" required="">
                                <input type="password" name="password" ngModel placeholder="Password" required="">
                                 <div class="form-group d-flex align-items-center justify-content-between">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="remember-me">
                                        <label for="remember-me" class="form-check-label">Remember Me</label>
                                    </div>
                                     <a href="#" class="forgot-btn">Forgot Password?</a>
                                </div>
                                <button type="submit" class="readon submit-btn text-center">login</button>
                                <div class="last-password">
                                    <p>Not registered? <a href="#">Create an account</a></p>
                                </div>
                            </form> -->
                        <!-- </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- <div class="container d-flex justify-content-center align-items-center vh-100">
        <div class="bg-white text-center p-5 mt-3 center">
            <h3>Forgot Password </h3>
            <h5>Enter Your email id for reset password request</h5>
            <form class="pb-3" action="#">
                <div class="form-group">
                    <input type="email" class="form-control" name="email" placeholder="Your Email Id" ngModel required=""> 
                </div>
            </form>
            <button type="button" class="btn">Reset Password</button>
        </div>
        </div> -->
        </div>
        </div>
        </div>
 </body>