<div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
<div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
    <a class="paginate_button previous disabled " aria-controls="DataTables_Table_0"
    data-dt-idx="0" tabindex="0" id="DataTables_Table_0_previous">
    Previous
    </a>
    <span>
        <a class="paginate_button current" aria-controls="DataTables_Table_0"
        data-dt-idx="1" tabindex="0">1</a>
        <a class="paginate_button current" aria-controls="DataTables_Table_0"
        data-dt-idx="2" tabindex="0">2</a>
    </span>
    <a class="paginate_button previous disabled " aria-controls="DataTables_Table_0"
    data-dt-idx="0" tabindex="0" id="DataTables_Table_0_previous">
    Next
    </a>
</div>
</div>