  <!-- Breadcubs Area Start Here -->
  <div class="breadcrumbs-area">
    <h3>Inquiry</h3>
    <ul>
        <li>
            <a [routerLink]="['/dashboard']">Home</a>
        </li>
        <li>View Inquiry</li>
    </ul>
</div>
<!-- Breadcubs Area End Here -->
<!-- Student Details Area Start Here -->
<div class="card height-auto">
    <div class="card-body">
        <div class="heading-layout1">
            <div class="item-title mt-4 mb-4">
                <h3>Inquiry Detail</h3>
            </div>
        </div>
        <div class="single-info-details">
            <div class="item-content">
                <div class="header-inline item-header">
                    <div class="header-elements">
                        <ul>
                            <!-- <li><a href="#"><i class="far fa-edit"></i></a></li> -->
                            <!-- <li><a href="#"><i class="fas fa-print"></i></a></li> -->
                            <!-- <li><a href="#"><i class="fas fa-download"></i></a></li> -->
                        </ul>
                    </div>
                </div>
                <div class="info-table table-responsive">
                    <table class="table text-nowrap mt-3">
                        <tbody>
                            <tr>
                                <td>Email Id:</td>
                                <td class="font-medium text-dark-medium myfont">{{inquiry.emailId}}</td>
                            </tr>
                            <tr>
                                <td>Inquiry:</td>
                                <td class="font-medium text-dark-medium myfont">{{inquiry.inquiryMessage|titlecase}}</td>
                            </tr>
                            <tr>
                                <td>Inquiry Response:</td>
                                <td *ngIf="!inquiry.inquiryResponse" class="font-medium text-dark-medium myfont">-</td>
                                <td *ngIf="inquiry.inquiryResponse" class="font-medium text-dark-medium myfont">{{inquiry.inquiryResponse|titlecase}}</td>
                            </tr>  
                        </tbody>
                    </table>
                </div>
                <button (click)="goToInquiryList()" type="submit" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">Back</button>
            </div>
        </div>
    </div>
</div>
<!-- Student Details Area End Here -->
<!-- Footer Area Start Here -->




