
.myfont
{
    font-size: 18px;
}
tr.title td:first-child {
    border-left: 0px solid;
    /* border-right: 0px solid; */
}
tr.title td:last-child {
    /* border-left: 0px solid; */
    border-right: 0px solid;
}
tr.title th:first-child {
    border-left: 0px solid;
    /* border-right: 0px solid; */
}
tr.title th:last-child {
    /* border-left: 0px solid; */
    border-right: 0px solid;
}
