
    <!-- Breadcubs Area Start Here -->
    <div class="breadcrumbs-area">
        <h3>Holiday</h3>
        <ul>
            <li>
                <a [routerLink]="['/dashboard']">Home</a>
            </li>
            <li>Update Holiday</li>
        </ul>
    </div>
    <!-- Breadcubs Area End Here -->
    <!-- Add New Book Area Start Here -->
    <div class="card height-auto">
        <div class="card-body">
            <div class="heading-layout1">
                <div class="item-title mt-4 mb-4">
                    <h3>Update Holiday</h3>
                </div>
            </div>
            <form #updateholidayform="ngForm" class="new-added-form" (ngSubmit)="onSubmit()">
                <div class="row">
                    <!-- holiday name -->
                    <div class="col-xl-4 col-lg-6 col-12 col-sm-12 form-group">
                        <label>Holiday Name </label>
                        <input required type="text" placeholder="" class="form-control"
                        [(ngModel)]="holiday.holidayName" name="holidayName" #holidayName="ngModel" pattern="^[0-9a-zA-Z. ]*[a-zA-Z]{1,60}$">
                        <div style="color: red;"  *ngIf="holidayName.invalid && (holidayName.dirty || holidayName.touched)">
                            <div *ngIf="holidayName.errors.required">
                                Holiday Name is Required !!
                            </div>
                            <div *ngIf="holidayName.errors?.pattern">
                                You can enter only alphabatic value with atleast one uppercase.<br>
                                <strong>Ex: Diwali Vacation</strong>
                            </div>
                        </div>
                    </div>
                    <!-- holiday start date -->
                    <div class="col-xl-4 col-lg-6 col-12 col-sm-12 form-group">
                        <label>Holiday Start Date </label>
                        <input required type="date" placeholder="dd/mm/yyyy" class="form-control air-datepicker"
                            data-position='bottom right'
                            [ngModel]="holiday.holidayStartdate | date:'yyyy-MM-dd'" #holidayStartdate="ngModel" name="holidayStartdate" (ngModelChange)="holiday.holidayStartdate = $event">
                        <i class="far fa-calendar-alt"></i>
                        <span style="color: red;"
                        *ngIf="holidayStartdate.touched && !holidayStartdate.valid">
                        Holiday Start Date is required!!
                    </span>
                    </div>
                    <!-- holiday end date -->
                     <div class="col-xl-4 col-lg-6 col-12 col-sm-12 form-group">
                        <label>Holiday End Date </label>
                        <input required type="date" placeholder="dd/mm/yyyy" class="form-control air-datepicker"
                            data-position='bottom right'
                            [ngModel]="holiday.holidayEnddate| date:'yyyy-MM-dd'" #holidayEnddate="ngModel" name="holidayEnddate" (ngModelChange)="holiday.holidayEnddate = $event">
                        <i class="far fa-calendar-alt"></i>
                        <span style="color: red;"
                        *ngIf="holidayEnddate.touched && !holidayEnddate.valid">
                        Holiday End Date is required!!
                    </span>
                    </div>
                    <div class="col-lg-6 col-12 form-group">
                        <label>Holiday Description*</label>
                        <textarea class="textarea form-control" id="form-message" cols="5"
                            rows="3"  [(ngModel)]="holiday.holidayDescription" name="holidayDescription"></textarea>
                        <span style="color:rgb(90, 88, 88)">
                            Holiday Description is optional !!
                        </span>
                    </div>
                    <div class="col-12 form-group mg-t-8">
                        <button [disabled]="updateholidayform.invalid" type="submit" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">Save</button>
                        <!-- <button type="reset" class="btn-fill-lg bg-blue-dark btn-hover-yellow">Reset</button> -->
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- Add New Book Area End Here -->
  



